.profile {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $gray-color;
    position: relative;

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
      box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.2);
    }

    input[type="file"] {
      visibility: hidden;
      width: 0;
      height: 0;
    }

    &__photo-frame {
      height: 200px;
      width: 200px;
      cursor: pointer;
      margin-bottom: 2rem;
      position: relative;
    }

    &__user-photo {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.2);
    }

    &__edit-user-photo {
      position: absolute;
      bottom: 20px;
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $green-color;
      box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__group {
      @include breakpoint(xs) {
        width: 90%;
      }

      @include breakpoint(sm) {
        width: 60%;
      }
    }
  }

  .modal {
    background: #fff;
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: 2;
    transform: translate(-50%, -50%) scale(0.5);
    box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.2);
    width: 70%;
    max-width: 1024px;
    max-height: 100%;
    padding: 3.5rem 1.5rem;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out transform;

    .icon-btn {
      cursor: pointer;
      position: absolute;
      margin: 1rem 1.5rem;
      width: 1.5rem;
      z-index: 10;

      &.btn-close {
        top: 0;
        right: 0;
        transform: rotate(45deg);

        &:active {
          transform: scale(0.95) rotate(45deg);
        }
      }
    }

    &.open {
      opacity: 1;
      pointer-events: all;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    &__item {
      background-color: lighten(rgba($gray-color, 0.6), 20);
      position: relative;
      border-radius: 3px;

      .icon-state {
        position: absolute;
        z-index: 10;
        width: 2rem;
        top: -0.75rem;
        right: -0.75rem;
        background-color: #fff;
        border-radius: 100%;
        pointer-events: none;
        opacity: 0;
      }

      .cover {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        transition: 0.3s ease-out all;
        z-index: 8;
        cursor: pointer;
      }

      .image-container {
        overflow: hidden;
        height: 100%;
      }
    }

    &__item.select {
      border: 3px solid $green-color;

      .cover {
        background-color: rgba($color: #fff, $alpha: 0.4);
      }

      .cover,
      .icon-state {
        opacity: 1;
        pointer-events: all;
      }
    }

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.5s ease-out all;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    .open-item {
      width: 2rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
